{:config-paths ["../resources/clj-kondo.exports/org.clj-commons/byte-streams"]
 :linters {:unresolved-symbol {:level :error
                               :exclude [(clj-commons.byte-streams.pushback-stream/both [either])]}}}
